{% extends "__base.jinja" %}
{% block body %}
    <div class='row mb-4'>
        <div class='col-8 offset-2 mb-5'>
            <h3 class='font-weight-bold mb-5'>
                Upplýsingar um upptökur í umsóknarferli fyrir verkefnið "Tilfinningaríkt talmál"
            </h3>
            <h4>Verklýsing</h4>
            <p class="mb-4">
                Verkefni þetta er hluti af áætluninni um Máltækni fyrir íslensku
                sem unnið er af rannsóknar- og þróunarhópi fyrir hönd
                Menningar- og viðskiptaráðuneytisins (MVR) árið 2024.
                Markmiðið með verkefninu er að gera íslensku aðgengilega til notkunar í
                hugbúnaðarþróun í stafrænum heimi.
                Gagnasöfnunin "Tilfinningaríkt talmál" verður framkvæmd af Háskólanum í Reykjavík og Grammateki í þeim tilgangi
                að safna raddupptökum til þróunar á íslenskum talgervlum.

            </p>
            <h4>Umsókn um þátttöku</h4>
            <p class="mb-4">
                Upptökurnar sem þú gerir í fyrirliggjandi umsóknarferli verða einungis nýttar til þess að
				meta hvort þín rödd henti fyrir verkefnið. Að umsóknarferlinu loknu verður öllum þessum upptökum eytt.
            </p>
            
            <h4>Annað</h4>
            <p class="mb-4">
                Hægt er að hafa samband við aðila verkefnisins í gegnum netfangið gunnaro@ru.is.
            </p>
        </div>
    </div>
{% endblock %}
